
.register{
    width: 100%;
    height: 100vh;
    display: none;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    margin: auto;
    background-color: #0008;
}

.register__content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    min-width: 300px;
    background-color: var(--color-text);
    border-radius: 10px;
}

.register__title{
    margin-bottom: 5px;
}

.register__form{
    width: 100%;
    height: 80vh;
    max-height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
    overflow-y: auto;
    border-radius: 10px;
}

.register__field{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5px auto;
    padding: auto;
}

.register__buttons{
    width: 70%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 10px auto;
}

.register__field input, select {
    border: 1px solid #ccc7;
    border-radius: 4px;
    font-size: 14px;
    box-sizing: border-box;
    resize: none;
    background-color: #f8ecb1;
    padding: 5px;
    margin-top: 5px;
}

.register__buttons input{
    box-sizing: border-box;
    resize: none;
    background-color: var(--color-button);
    padding: 10px;
    margin: 0;
    font-size: clamp(0.7rem, 1.5vw, 1.1rem);
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    border: 1px solid #000;
}

.register__buttons input:hover{
    cursor: pointer;
    background-color: var(--color-primary);
    color: #fff;
}

#child_form {
    width: 100%;
    padding: 0px;
    margin: 0;
}

#child_form input{
    margin-bottom: 10px;
}



.success-message {
    position: fixed;
    top: 25px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #4a4;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: clamp(0.7rem, 1.5vw, 1.1rem);
    z-index: 1000;
    opacity: 0;
    animation: fadeInOut 2s forwards;
}

@keyframes fadeInOut {
    0% { opacity: 0; }
    10% { opacity: 1; }
    90% { opacity: 1; }
    100% { opacity: 0; }
}


/*----------------------------------------------------*/


.login{
    width: 100%;
    height: 100vh;
    display: none;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    margin: auto;
    background-color: #0008;
}

.login__content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    min-width: 300px;
    background-color: var(--color-text);
    border-radius: 10px;
}

.login__title{
    margin-bottom: 5px;
}

.login__form{
    width: 100%;
    height: 80vh;
    max-height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
    overflow-y: auto;
    border-radius: 10px;
}

.login__field{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5px auto;
    padding: auto;
}

.login__buttons{
    width: 70%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 20px auto;
}

.login__field input{
    border: 1px solid #ccc7;
    border-radius: 4px;
    font-size: 14px;
    box-sizing: border-box;
    resize: none;
    background-color: #f8ecb1;
    padding: 10px;
    margin-top: 5px;
}

.login__buttons input{
    box-sizing: border-box;
    resize: none;
    background-color: var(--color-button);
    padding: 10px;
    margin: 0;
    font-size: clamp(0.7rem, 1.5vw, 1.1rem);
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    border: 1px solid #000;
}

.login__buttons input:hover{
    cursor: pointer;
    background-color: var(--color-primary);
    color: #fff;
}


/*------------------------------------------------*/


.user_profile {
    display: none;
    justify-content: flex-end;
    position: relative;
    align-items: center;
    width: 15%;
}

.profile__icon {
    width: 60px;
    height: auto;
    border-radius: 50%;
    cursor: pointer;
    margin: 20px;
    border: 1px solid #000;
}

.profile__menu {
    position: absolute;
    top: 110px;
    right: 0;
    background-color: var(--color-text);
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 20px;
}

.profile__menu ul {
    min-width: 150px;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.profile__menu li {
    padding: 10px;
    cursor: pointer;
    color: black;
    padding: 20px;
}

.profile__menu li:hover {
    text-decoration: underline;
}

.profile__menu a {
    text-decoration: none;
    color: black;
    display: block;
}

.menu__hidden {
    display: none;
}



@media only screen and (max-width: 768px) and (min-width: 601px) {

    .user_profile{
        justify-content: center;
        position: fixed;
        right: 0;
        top: 0;
    }

    .profile__icon{
        width: 50px;
        margin: 15px;
    }

    .profile__menu{
        top: 80px;;
    }
}

@media only screen and (max-width: 600px) {

    .user_profile{
        justify-content: center;
        position: fixed;
        right: 0;
        top: 0;
    }

    .profile__icon{
        width: 50px;
        margin: 15px;
    }
    
    .profile__menu{
        top: 80px;;
    }
}