
/* Paleta de color */
:root{
    --color-primary: #f23e02;
    --color-secondary: #2c6b74;
    --color-background: #013750;
    --color-text: #fef5c8;
    --color-button: #00988d;
}

*{
    scroll-behavior: smooth;
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: sans-serif, 'Merienda';
    background-color: var(--color-background);
    color: #333;
    box-sizing: border-box;
    background-image: url('../images/snow_background.gif');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

input[type="button"] {
    cursor: pointer;
}

input[type="button"].disabled {
    cursor: not-allowed;
}

input[type="submit"] {
    cursor: not-allowed;
}

/* Barra de navegación */
.nav_bar{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--color-primary);
    color: var(--color-text);
    font-weight: bold;
    position: fixed;
    top: 0;
    margin: 0 auto;
}

.title_box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
}

.title{
    font-size: 1.5rem;
    margin: 0;
}

.logo{
    width: auto;
    max-width: 50px;
    height: auto;
    margin-right: 40px;
}
.page_menu{
    display: flex;
    font-size: 18px;
    justify-content: space-evenly;
    text-align: center;
    list-style: none;
    padding: 0;
}

.page_menu li{
    padding: 15px;
}

.page_menu a{
    color: var(--color-text);
    text-decoration: none;
}

.page_menu a:hover{
    text-decoration: underline;}

.access{
    display: flex;
    color: var(--color-text);
    border-radius: 5px;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
}

.access input{
    width: 42%;
    max-width: 150px;
    min-width: 130px;
    background-color: var(--color-button);
    color: var(--color-text);
    padding: 10px 20px;
    margin: 2.5px 10px;
    border-radius: 5px;
    border: 2px solid #000;
}

.access input:hover{
    background-color: var(--color-text);
    color: #000;
}

/* Estilo genérico páginas */
.page{
    width: 100%;
    height: 90vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10vh;
    scroll-margin-top: 10vh;
    box-sizing: border-box;
}

/* Primera página - Main */
.page1__title{
    text-align: center;
    font-size: 1.3rem;
    font-weight: bold;
    margin: 0;
    padding: 10px;
    color: var(--color-text);
}

h1{
    font-size: 3rem;
    font-weight: bold;
}

.page1 input{
    padding: 10px 20px;
    margin: 10px;
    border-radius: 5px;
    background-color: var(--color-button);
    border: 2px solid #000;
    font-size: 1.3rem;
    font-weight: bold;
    color: var(--color-text);
}

.page1 input:hover{
    background-color: var(--color-primary);
    color: var(--color-text);
}

/* Estilo genérico títulos de las páginas */
.titles{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    color: var(--color-text);
}

.titles h2{
    font-size: 2rem;
    font-weight: bold;
    margin: 0;
    margin-top: 2.5vh;
    padding: 10px;
    font-weight: bold;
}

/* Contenidos genéricos páginas */
.content{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    height: 90%;
    width: 100%;
    margin: 0;
}

/* Segunda página - Papá Noel */
.content2{
    justify-content: space-evenly;
}

/* Estilo para las columnas */
.column_p2{
    background-color: #dedfd7;
    max-width: 45%;
    max-height: fit-content;
    background-color: var(--color-text);
    padding: 20px;
    border-radius: 8px;
    box-sizing: border-box;
}

.santa_img{
    width: 100%;
    max-width: 500px;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
    margin: 20px;
}

.page2 img{
    width: 100%;
    height: auto;
    object-fit: cover;
}

.santa_info{
    max-height: 100%;
    margin: 0 20px;
}

/* Tercera página - Cartas */
.content3{
    flex-wrap: wrap;
    align-items: normal;
}

/* Estilo para cada carta */
.card{
    float: left;
    width: 25%;
    max-height: 45%;
    margin: 10px;
    padding: 20px 10px;
    flex-direction: column;
    justify-content: center;
    border-radius: 5px;
    text-align: left;
    background-color: var(--color-text);
    box-shadow: 0 5px 20px 2px #fff2;
    box-sizing: border-box;
}

.card_title{
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0;
    padding: 3% 0;
}

.card_subtitle{
    font-size: 1.2rem;
    margin: 0;
}

.card_content{
    font-size: clamp(0.8rem, 1.5vw, 1.1rem);
}

.card_img{
    width: 20%;
    height: auto;
    margin: 5%;
    margin-top: 0;
    float: right;
    object-fit: cover;
    border-radius: 8px;
}

.card:hover {
    box-shadow: 0 0 10px 2px #fff6;
}

/* Cuarta página - Enviar Carta */

/* Formulario */
.letter_form {
    width: 80%;
    padding: 30px;
    background-color: var(--color-text);
    border-radius: 8px;
    box-shadow: 0 5px 19px 2px #fff2;
    margin: 30px auto;
    box-sizing: border-box;
}

/* Contenedor de la cuadrícula */
.grid_form{
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    align-items: center;
    padding: 30px 30px;
    padding-bottom: 0;
}

/* Campos del formulario */
.form_field {
    display: flex;
    flex-direction: column;
}

.form_field label {
    margin-bottom: 5px;
    font-weight: bold;
}

.form_field input, textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    box-sizing: border-box;
    resize: none;
    background-color: #f8ecb1;
}

.form_message {
    grid-column: span 2;
}

/* Botón de envío */
.send {
    width: 100%; 
    max-width: 300px;
    margin: 10px auto;
    padding: 10px 15px;
    border: 2px solid #000;
    background-color: var(--color-button);
    color: #000;
    font-size: 1rem;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    grid-column: span 2;
    display: flex;
    justify-content: center;
    text-align: center;
    word-wrap: break-word;
    white-space: normal;
}

.send:hover {
    background-color: var(--color-primary);
    color: #fff;
}

/* Quinta página - Juegos */
.content5{
    justify-content: space-evenly;
}

/* Estilo general para las columnas */
.column_p5{
    background-color: var(--color-text);
    padding: 20px;
    border-radius: 8px;
    box-sizing: border-box;
    text-align: center;
}

.column1_p5{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 20%;
    margin: 0 20px;
    font-size: clamp(0.9rem, 1.5vw, 1.6rem);
}

.column2_p5{
    height: 90%;
    padding: 0;
    background-color: transparent;
    align-content: center;
    margin: 0 20px;
}

.column1_p5 h3{
    font-weight: bold;
    margin: 0;
    padding-bottom: 10px;
}

.column1_p5 button{
    width: 75%;
    max-width: 140px;
    background-color: var(--color-button);
    color: #000;
    border: 2px solid #000;
    border-radius: 5px;
    padding: 15px 0;
    margin: 10px;
    font-size: clamp(0.7rem, 1.5vw, 1.6rem);
    text-align: center;
}

.column1_p5 button:hover{
    background-color: var(--color-primary);
    color: #fff;
    cursor: pointer;
}

#game_image{
    width: 100%;
    max-height: 100%;
    object-fit: contain;
    border-radius: 8px;
    box-sizing: border-box;
    box-shadow: 0px 5px 20px 2px #fff2;
}


/* Footer */
.footer{
    display: flex;
    justify-content: space-between;
    text-align: center;
    background-color: var(--color-primary);
    color: var(--color-text);
    padding: 10px 0;
}

.social_media{
    display: flex;
    justify-content: center;
    width: fit-content;
    height: auto;
    margin: auto;
}

.footer_icon{
    border-radius: 20%;
    width: 10%;
    height: auto;
    margin: 2%;
}

.social_media a{
    display:contents;
    padding: 0;
    margin: 0;
}

.links{
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 25%;
}


/* Estilos para tablet (pantallas entre 600px y 768px) */
@media only screen and (max-width: 768px) and (min-width: 601px) {

    .nav_bar{
        flex-direction: column;
        width: 100%;
        height: fit-content;
    }

    .logo{
        width: 30%;
    }

    .page_menu{
        width: 100%;
        margin: 0;
        margin-right: 20%;
        margin-left: 20%;
    }

    .page_menu li{
        padding-bottom: 10px;
    }

    .page{
        scroll-margin-top: 20vh;
        height: auto;
        width: 100%;
    }

    .page1{
        font-size: 1.2rem;
        height: 80vh;
    }

    .content2{
        flex-direction: column;
        gap: 20px;
    }

    .column_p2{
        max-width: 75%;
    }

    .card{
        width: 45%;
    }

    .letter_form{
        flex-direction: column;
        height: fit-content;
    }

    .grid_form{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: auto;

    }

    .form_field{
        width: 100%;
    }

    .send{
        width: fit-content;
        max-width: 100%;
    }

    .page5{
        margin: 20vh 0;
    }

    .content5{
        flex-direction: column;
        height: fit-content;
    }

    .column_p5{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin: 20px auto;
    }

    .column1_p5{
        max-width: 100%;
    }

    .game_buttons{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .column1_p5 button{
        margin: 0;
        width: 30%;
        font-size: clamp(0.7rem, 1.5vw, 1.6rem);
    }

    .column2_p5 {
        width: 90%;
        height: fit-content;
    }

    .social_media{
        flex-direction: column;
        margin-left: 5%;
    }

    .footer_icon{
        width: 30%;
    }

    .links{
        margin-right: 10%;
    }
}

/* Estilos para movil (pantallas de hasta 600px) */
@media screen and (max-width: 600px) {

    .nav_bar{
        flex-direction: column;
        width: 100%;
        height: fit-content;
    }

    .logo{
        width: 30%;
    }

    .page_menu{
        width: 100%;
        margin: 0;
        margin-right: 20%;
        margin-left: 20%;
    }

    .page_menu li{
        padding: 10px;
        padding-bottom: 10px;
    }

    .page{
        scroll-margin-top: 20vh;
        height: auto;
        width: 100%;
    }

    .page1{
        font-size: 1.2rem;
        height: 80vh;
    }

    .content2{
        flex-direction: column;
        gap: 20px;
    }

    .column_p2{
        max-width: 70%;
    }

    .card{
        width: 70%;
    }

    .letter_form{
        flex-direction: column;
        height: fit-content;
    }

    .grid_form{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: auto;
    }

    .form_field{
        width: 100%;
    }

    .send{
        width: fit-content;
        max-width: 100%;
    }

    .page5{
        margin: 20vh 0;
    }

    .content5{
        flex-direction: column;
        height: fit-content;
    }

    .column_p5{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        margin: 20px auto;
    }

    .column1_p5{
        max-width: 80%;
    }

    .game_buttons{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .column1_p5 button{
        margin: 0;
        padding: 15px 0;
        width: 30%;
        font-size: clamp(0.7rem, 1.5vw, 1.6rem);
        text-align: center;
    }

    .column2_p5 {
        width: 90%;
        height: fit-content;
    }

    .social_media{
        flex-direction: column;
        margin-left: 5%;
    }

    .footer_icon{
        width: 30%;
    }

    .links{
        margin-right: 10%;
    }
}